
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

	header {
            position: relative;
            width: 100%;
            min-height: 66px;
            background: #B50B0B;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
			z-index: 10;
        }
		

        header .logo {
            color: #fff;
            font-size: 1.75em;
            font-weight: 600;
            text-decoration: none;
        }

        header ul {
            position: relative;
        }

        header ul li {
            position: relative;
            list-style: none;
            float: left;
        }

        header ul li a {
            color: #fff;
            font-size: 1.1em;
            padding: 20px 25px;
            text-decoration: none;
        }

        header ul li a:hover {
            background: #950808;
        }


.Section_top {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    background-image: url("churchimageone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    animation: change 20s infinite; 
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
	text-shadow: 2px 2px 8px #000000;

}
.content_one {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
	text-shadow: 2px 2px 8px #000000;
}
.daycare_Cover {
    height: 60vh;
	flex: 1;	
	object-fit: cover;
    background-image: url("daycare.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
	object-fit: cover;
}
.ContactUs_Cover{
	height: 60vh;
	flex: 1;	
    background-image: url("churchdrawing.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 75% 125%;
    text-align: center;
	object-fit: fill;
}
.content_two {
	font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
	text-shadow: 
    2px 2px 0px #fff, 
    -2px -2px 0px #fff, 
    2px -2px 0px #fff, 
    -2px 2px 0px #fff;
	
}
.content_two h1 {
	
	Font-size: 60px;
	
}

.blank-section ul{
	padding-bottom: 20px;

}
.blank-section ul li{
	text-align: left;

}


.slider {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;         
    height: 400px;     
    object-fit: cover;   
	border: 5px solid #000; 
}
.active1{
display:block;

}




@keyframes change {
    0% {
        background-image: url("churchimageone.jpg");
    }
    20% {
        background-image: url("churchimagetwo.jpg");
    }
    40% {
        background-image: url("Churchimagethree.jpg");
    }
    60% {
        background-image: url("Churchimagefour.jpg");
    }
    80% {
        background-image: url("churchint.jpg");
    }
    100% {
        background-image: url("churchimageone.jpg"); 
    }
}


.blank-section {
    width: 100%;
    min-height: calc(100vh - 100px); 
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    text-align: center; 
}
.blank-section-one {
	  width: 100%;
    min-height: calc(100vh - 100px); 
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    text-align: center; 
}
.blank-section-one p{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
}
.blank-section-one h3{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
}

.blank-section h2{ 
    margin: 0; 
    display: block; 
	
}
.blank-section h1 {
	padding-top: 40px;
	padding-bottom: 10px;
}
.blank-section h3{
	padding-top: 10px;
}

.blank-section p{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

	
.blank-section-two {
    width: 100%;
    min-height: calc(100vh - 100px); 
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    text-align: center; 
    margin: 0 ; 
}

.blank-section-two p {
    max-width: 100%;
    text-align: center;
    margin: 5px 0; 
    line-height: 1.2; 
	
}

.blank-section-two h3{
	padding-top: 40px;
	padding-bottom: 40px;

}
.image-container {
    width: 100%;
    overflow: hidden; 
}

.image-container img {
	margin:0 auto;
    max-width: 100%; 
    height: auto;
    display: block; 
}

/* Desktop styles */
@media (min-width: 768px) {
    .image-container {
        margin: 0 20px;
    }
    .image-container img {
        width: auto; 
        max-width: calc(80% - 40px); 
    }
}


.rounded {
    border-radius: 60%;   
	padding-top: 20px;

}
/* Basic styles for the columns */
.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin: 0 -15px; 
}

.column {
    flex: 0.5; 
    max-width: 100%;
    padding: 15px; 
    box-sizing: border-box; 
	margin:0 50px;
}
.column-container {
    display: flex;              
    flex-wrap: wrap;            
    justify-content: space-between; 
    width: 100%;                
    max-width: 1200px;          
    margin: 0 auto;             
}

.column-one {
    flex: 1;                   
    min-width: 300px;           
    padding: 15px;              
    box-sizing: border-box;     
    margin: 0 10px;             
}

/* Responsive Styles */
@media (max-width: 768px) {
    .column-one {
        flex: 1 1 100%;         
        margin: 10px 0;         
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .column-one {
        flex: 1 1 calc(50% - 20px); 
    }
}
.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.map {
    flex: 1;
    min-width: 300px;       
    max-width: 500px;      
    height: 350px;          
	border: 5px solid #000;
}
.text-content p {
	text-align: left;
}
.text-content {
    flex: 1;
    margin-right: 20px;     
	
}

/* Responsive Styles */
@media (max-width: 768px) {
    .map-container {
        flex-direction: column; 
        align-items: center;    
    }
    
    .map {
        width: 100%;           
        height: 200px;         
        max-height: 300px;   
    }

    /* Ensure iframe is responsive */
    .map iframe {
        width: 100%;           
        height: 100%;         
    }

    .text-content {
        margin-left: 0;       
        margin-top: 20px;     
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .column {
        max-width: 100%; 
        flex: 100%;
    }
}

.footer-content {
    width: 100%;
    background-color: #333;
    color: #fff; 
    padding: 20px; 
    position: relative;
    margin-top: 20px; 
	text-align: center;
}

/* Responsive styles */
			@media (max-width: 900px) {
				header {
					padding: 10px 20px;
				}

				header nav {
					position: absolute;
					width: 100%;
					top: 66px;
					left: 0;
					background: #445964;
					display: none;
				}

				header.active nav {
					display: block; 
				}

				header nav ul li {
					padding: 0.5em 1em; 
					font-size: 1em; 
					width: 100%; 
				}
			}

			@media (max-width: 600px) {
				header ul li a {
					padding: 0.5em 0.75em; 
					font-size: 0.9em; 
				}
				.ContactUs_Cover{
					background-size: cover;
				}
				.daycare_Cover{
					background-size: cover;
				}
			}
			@media (max-width: 700px) {
				header ul li a {
					padding: 0.5em 0.75em; 
					font-size: 0.11em;
				}
			}
			@media (max-width: 800px) {
				header ul li a {
					padding: 0.5em 0.75em; 
					font-size: 1em; 
				}
			}
			
	
			.menuToggle {
                position: relative;
                width: 40px;
                height: 50px;
                cursor: pointer;
                display: flex;
				flex-direction:column;
                justify-content: center;
                align-items: center;
            }
			@media (min-width: 900px) {
    .menuToggle {
        display: none; /* Hide the menu toggle on desktop */
    }
}

            .menuToggle::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background: #fff;
                transform: translateY(-12px);
                box-shadow: 0 12px #fff;
            }

            .menuToggle::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background: #fff;
                transform: translateY(12px);
            }

            header.active .menuToggle::before {
                transform: rotate(45deg);
                box-shadow: 0 0 #000;
            }

            header.active .menuToggle::after {
                transform: rotate(315deg);
                box-shadow: 0 0 #000;
            }
			}

